<p>
  <strong>Nombre:</strong>
  <%= @medic.name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @medic.rut %>
</p>
<p>
  <strong>Telefono:</strong>
  <%= @medic.phone %>
</p>

<%= link_to 'Editar', edit_medic_path(@medic) %>
<%= link_to 'Volver', medics_path %>