<%= form_with id: :person_form, model: @person, local: true do |form| %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@person.errors.count, "error") %> Prohibido
        Guardar este paciente
      </h2>
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong><%= form.label :bp %></strong>
    <%= form.text_field :bp %>
  </p>

  <p>
    <strong><%= form.label :sexo_Y_Edad %></strong>
    <%= form.text_field :comment %>
  </p>

  <p>
    <strong><%= form.label :rut %></strong>
    <%= form.text_field :rut %>
  </p>

  <p>
    <strong><%= form.label :nombre %></strong>
    <%= form.text_field :name %>
  </p>

  <p>
    <strong><%= form.label :apellido_paterno %></strong>
    <%= form.text_field :first_name %>
  </p>

  <p>
    <strong><%= form.label :apellido_materno %></strong>
    <%= form.text_field :second_name %>
  </p>
  <p>
    <strong><%= form.label :empresa %></strong>
    <%= form.text_field :employ %>
  </p>
  <p>
    <strong><%= form.label :tipo_de_siniestro %></strong>
    <%= form.text_field :emergency_type %>
  </p>
  <p>
    <strong><%= form.label :reposo   %></strong>
    <%= form.check_box :rest, {}, true, false %>
  </p>
  <p>
    <strong><%= form.label :telefono %></strong>
    <%= form.text_field :phone %>
  </p>

  <p>
    <strong><%= form.label :comuna%></strong>
    <%= form.text_field :town %>
  </p>
  <p>
    <strong><%= form.label :calle %></strong>
    <%= form.text_field :address %>
  </p>
  <p>
    <strong><%= form.label :numero %></strong>
    <%= form.text_field :address_number %>
  </p>

  <div class='row'>
     <div class='col'>
       <strong>Fechas proximas citas Terapia Fisica</strong>
       <br>
        <p>
          <strong><%= form.label :kinesiologo %><br></strong>
          <%= form.collection_select :kine, Kinesiologist.all, :id , :name %>
        </p>
       <div id='kine_calendar'>
       <%= render template:'layouts/template_mini_calendar', locals:{medic: Kinesiologist.find(@person.kine),dates:@person.buckets.where(medic_id:@person.kine).map(&:date), id:'mini_calendar1',events: 'eventtf', edit: true}%>
       </div>
         <br>
     </div>
    <div class='col'>
       <strong>Fechas proximas citas Atencion Primaria</strong>
       <br>
       <p>
        <strong><%= form.label :medico %><br></strong>
        <%= form.collection_select :medic, Medic.where(type: nil).all, :id , :name %>
       </p>
        <div id='medic_calendar'>
       <%= render template:'layouts/template_mini_calendar', locals:{medic: Medic.find(@person.medic), dates:@person.buckets.where(medic_id:@person.medic).map(&:date), id:'mini_calendar2',events: 'eventap', edit: true}%>
      </div>
      <br>
    </div>
    <div class='col'></div>

  </div>
  <p>
    <strong><%= form.label :transporte %></strong>
    <%= form.check_box :transportation, {}, true, false %>
  </p>

  <div id='transporte' style="display:<%= @person.transportation ? 'block':'none' %>;">
    <p>
      <input id='search_direction' type='button' value='buscar direccion'/>
    </p>
    <p>
      <strong><%= form.label :latitud %></strong>
      <%= form.text_field :latitude%>
    </p>
    <p>
      <strong><%= form.label :longitud %></strong>
      <%= form.text_field :longitude%>
    </p>
    <p>
      <strong><%= form.label :acompañante %></strong>
      <%= form.check_box :accompanied, {}, true, false %>
    </p>
    <p>
      <strong><%= form.label :tipo_de_viaje %></strong>
      <%= form.select :travels_type, {'llevar traer en furgon': 101,
                                      'llevar traer en ambulancia': 102,
                                      'llevar traer en furgon con silla de ruedas': 103,
                                      'llevar traer sentado en tixi': 104,
                                      'llevar en furgon':105,
                                      'llevar en ambulancia':106,
                                      'llevar sentado en tixi': 108,
                                      'llevar con pierna extendida':110,
                                      'llamado a central de rescate':111,
                                      'llevar traer con pierna extendida': 112} %>
    </p>
  </div>
  <p>
    <%= form.submit :Enviar, class: 'btn btn-primary' %>
  </p>
<% end %>
<script type="text/javascript">
  $('#search_direction').click(function(){
    var query = document.getElementById('person_address').value + " " + document.getElementById('person_address_number').value + "," +document.getElementById('person_town').value;
    var settings = {
      "async": true,
      "crossDomain": true,
      "url": "https://us1.locationiq.com/v1/search.php?key=c77839a27bd92d&q=" + query + "&format=json",
      "method": "GET"
    };

    $.ajax(settings).done(function (response) {
      if (Array.isArray(response)){
        $('#person_latitude').val(response[0].lat);
        $('#person_longitude').val(response[0].lon);
      }

    });
  });


  var checkbox = document.getElementById('person_transportation');
  var details_div = document.getElementById('transporte');
  checkbox.onchange = function() {
    if(this.checked) {
      details_div.style['display'] = 'block';
    } else {
      details_div.style['display'] = 'none';
    }
  };
  $('#person_form').submit(function (event) {
    eventtf.forEach(function(date,i){
      var input = '<input type="hidden" name="person[dates][]" value="'+  date.start.format('YYYY-MM-DD')+'"/>';
      $('#person_form').append(input);
    });
    eventap.forEach(function(date,i){
      var input = '<input type="hidden" name="person[ap_dates][]" value="'+date.start.format('YYYY-MM-DD')+'"/>';
      $('#person_form').append(input);
    });
    return true
  });

  var kine = $('#person_kine');
  var medic = $('#person_medic');
  function poblate_calendar(medic,calendar,div,event){
    $.ajax({
      url: '/month_avalaible_dates',
      type: 'GET',
      data: {
        medic_id: medic.val(),
        calendar: calendar,
        events: event,
        <% if @person %>
        person_id: <%= @person.id %>,
        <% end %>
        edit: true
      },
      success: function(data) {
        $('#'+div).html(data)
      }

    });
  }
  kine.change(function () {
    poblate_calendar(kine,'mini_calendar1','kine_calendar','eventtf');
  })
  medic.change(function() {
    poblate_calendar(medic,'mini_calendar2','medic_calendar', 'eventap');
  })
</script>