<h1>Lista de Pacientes </h1>
<div class="table-responsive">
<table class="table table-hover">
  <tr>
    <td id='table_new_person' colspan='6'> <%= link_to 'Añadir persona', new_person_path %></td>
  </tr>

  <tr>
    <th>Nombre</th>
    <th>bp</th>
    <th>Telefono</th>
    <th>Agenda</th>
    <th></th>
    <th></th>
  </tr>



  <% @persons.each do |person| %>
    <tr>
      <td><%= person.name %> <%= person.first_name %></td>
      <td><%= person.bp %></td>
      <td><%= person.phone %></td>
      <td><%= link_to 'Agenda', person_calendar_path(person) %></td>
      <td><%= link_to 'Agregar hora', person_new_date_path(person) %></td>
      <td><%= link_to 'Ver', person_path(person) %></td>
    </tr>
  <% end %>

</table>
</div>