<p>
  <strong>Nombre:</strong>
  <text><%= @person.name %> <%= @person.first_name %> <%= @person.second_name %></text>
</p>

<p>
  <strong>BP: </strong>
  <%= @person.bp %>
</p>

<p>
  <strong> Sexo y edad: </strong>
  <%= @person.comment %>
</p>


<p>
  <strong>Telefono: </strong>
  <%= @person.phone %>
</p>

<p>
  <strong>Dias de tratamiento: </strong>
  <%= @person.number_of_days %>
</p>

<p>
  <strong> Descanso: </strong>
  <strong>
    <% if @person.rest %>
      Si
    <% else %>
      No
    <% end %>
  </strong>
</p>

<p>
  <strong>Comuna: </strong>
  <%= @person.town %>
</p>

<p>
  <strong>Calle: </strong>
  <%= @person.address %>
  <strong> numero </strong>
  <%= @person.address_number %>
</p>

<% if @person.transportation %>
  <p>
    <strong> Transporte: </strong>
    <strong>Si</strong>
  </p>
  <p>
    <strong> Latitud: </strong>
    <%= @person.latitude %>
  </p>
  <p>
    <strong> Longitud: </strong>
    <%= @person.longitude %>
  </p>
  <p>
    <strong> Tipo de vehiculo: </strong>
    <strong> Furgon </strong>
  </p>
<% else %>
  <strong> Transporte: </strong>
  <strong>No</strong>
<% end %>
<div class='row'>
     <div class='col'>
       <strong>Fechas proximas citas Terapia Fisica</strong>
       <br>
       <%= render template:'layouts/template_mini_calendar', locals:{medic: Kinesiologist.find(@person.kine), dates:@person.buckets.where(medic_id:@person.kine).map(&:date), id:'mini_calendar1',events: 'eventtf', edit: false}%>
       <br>
     </div>
    <div class='col'>
       <strong>Fechas proximas citas Atencion Primaria</strong>
       <br>
       <%= render template:'layouts/template_mini_calendar', locals:{medic: Medic.find(@person.medic), dates:@person.buckets.where(medic_id:@person.medic).map(&:date), id:'mini_calendar2',events: 'eventap', edit: false}%>
       <br>
    </div>
    <div class='col'></div>

  </div>
<div>
<%= link_to 'Volver', persons_path, method: 'get', class: 'btn btn-secondary' %>
<%= link_to 'Editar', edit_person_path(@person) , class: 'btn btn-primary' %>
<%= link_to 'Modificar Agenda', person_calendar_edit_path(@person), class: 'btn btn-primary' %>
<%= link_to 'Agregar hora', person_new_date_path(@person) , class: 'btn btn-primary' %>
</div>
