<%= form_with model: @kine, local: true do |form| %>

  <% if @kine.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@kine.errors.count, "error") %> Prohibido
        Guardar este kinesiologo
      </h2>
      <ul>
        <% @kine.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :nombre %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :rut %><br>
    <%= form.text_field :rut %>
  </p>

  <p>
    <%= form.label :telefono %><br>
    <%= form.text_field :phone %>
  </p>
  <p>
    <%= form.label :color %><br>
    <%= form.text_field :color %>
  </p>

  <div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Hora</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miercoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </tr>
    <% ['8','9','10','11','12','13','14','15','16','17'].each do |h| %>
      <% ['00','15','30','45'].each do |m| %>
    <tr>
      <td><%= h+':'+m %></td>
      <% 5.times do |i| %>
        <td><%= form.check_box "attention["+h+':'+m+"]", {multiple: true, checked: (@kine.attention[h+':'+m].include? i.to_s unless @kine.attention.blank? or @kine.attention[h+':'+m].blank?)}, i, false %></td>
      <% end %>
    </tr>
    <% end %>
      <% end %>

  </table>

    </div>

  <p>
    <%= form.submit :Enviar%>
  </p>

<% end %>