<head>
  <title>Achs</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag href = 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %>

</head>
<style type="text/css">
@media print{
  body{ background-color:#FFFFFF; background-image:none; color:#000000 }
  #ad{ display:none;}
  #leftbar{ display:none;}
  #contentarea{ width:100%;}
}
</style>
<div class="print">
<h1>Listado de proximas citas</h1>

<table class="table">
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Persona</th>
    <th>Medico</th>
  </tr>

  <% @dates.each do |date| %>
    <tr>
      <td><%= date.date %></td>
      <td><%= date.time %></td>
      <td><%= link_to date.person.name + '' +date.person.first_name , person_path(date.person)  %></td>
      <td><%= link_to date.medic.name , medic_path(date.medic)  %></td>
    </tr>
  <% end %>
</table>
</div>