<h1>Lista de Citas de paciente <%= @person.name %></h1>

<table class="table">
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Medico</th>
    <th></th>
    <th></th>
  </tr>

  <% @dates.each do |date| %>
    <tr>
      <td><%= date.date %></td>
      <td><%= date.time %></td>
      <td><%= link_to date.medic.name , medic_path(date.medic), class: 'btn btn-primary'  %></td>
      <td><%= link_to 'Ver', person_date_path(date), class: 'btn btn-primary' %></td>
      <td><%= link_to 'Liberar', untake_person_date_path(date), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>