<h1>Lista de Citas de paciente <%= @person.name %></h1>

<table class="table">
  <tr>
    <th>Dia</th>
    <th>Hora</th>
    <th>Medico</th>
    <th></th>
    <th></th>
  </tr>


  <% @buckets.each do |bucket| %>
    <tr>
      <td><%= bucket.date %></td>
      <td><%= bucket.time if bucket.is_a? PersonDate %></td>
      <td><%= link_to bucket.medic.name , medic_path(bucket.medic), class: 'btn btn-primary'  %></td>
      <td></td>
      <% if bucket.is_a? Bucket %>
      <td><%= link_to 'Liberar', untake_bucket_path(@person.id,bucket.id), class: 'btn btn-primary' %></td>
        <%end %>
        <% if bucket.is_a? PersonDate %>
        <td><%= link_to 'Liberar', untake_person_date_path(bucket), class: 'btn btn-primary' %></td>
        <%end %>

    </tr>

  <% end %>
</table>