<div id="calendar"></div>
<script>$('#calendar').fullCalendar(
    {
      header: {
        left: 'prev,next',
        center: 'title',
        right: 'agendaDay,settimana'
      },
      locale: 'es',
      defaultDate: '<%= Date.tomorrow.at_beginning_of_week %>',
      defaultView: '<%= type %>',
      height: 'auto',
      themeSystem:'bootstrap4',
      minTime: '08:00:00',
      maxTime: '18:00:00',
      slotDuration: '00:05:00',
      defaultTimedEventDuration: '00:15:00',
      firstDay: 1,
      nowIndicator: true,
      groupByDateAndResource: true,
      resources:[
        <% medics.each do |medic| %>
           {
             id: '<%= medic.id %>',
             title: '<%= medic.name %>'
           },
        <% end %>
      ],
      events:[
        <% person_dates.each do |person_date| %>
           {
             title: '<%= person_date.person.bp %> con <%= person_date.medic.name %>',
             start: '<%= person_date.start_time %>',
             description: '<%= person_date.medic.name  %>',
             color: '<%= person_date.color %>',
             resourceId: '<%= person_date.medic.id %>',
             taked: <%= person_date.taked? %>
           },

        <% end %>
      ],
      eventRender: function(eventObj, $el) {
        if (!eventObj.taked) {
          $el.find('.fc-bg').css('opacity',0.55);
          $el.css('color', 'black')
        }
      },
      views: {
        settimana: {
            type: 'agendaWeek',
            duration: {
                days: 7
            },
            title: 'Apertura',
            columnFormat: 'dddd', // Format the day to only show like 'Monday'
            hiddenDays: [0, 6] // Hide Sunday and Saturday?
        }
    },
      slotEventOverlap:false,
      eventOrder: "resourceId"
    });</script>
